*.o
*.a
*.exe
prompt.txt
run.sh
.cache/
.vs/
.vscode/
.DS_Store
.clang-format

build/
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*

/main
/quantize
/result

arm_neon.h
compile_commands.json

.envrc
.direnv/
.clang-format
